<div class="container-fluid h-100"> <!-- Utilizamos container-fluid para ocupar todo el ancho disponible y h-100 para ocupar el 100% del alto -->
  <div class="row h-100">
    <div class="col-lg-9 d-flex flex-column"> <!-- Utilizamos col-lg-9 para que ocupe 9 columnas en pantallas grandes y d-flex flex-column para flexibilidad vertical -->
      <div class="col-12 h-100">
        <div class="campoText d-flex flex-column h-100"> <!-- Agregamos d-flex flex-column y h-100 para ocupar 100% del alto -->
          <textarea [(ngModel)]="valorText" class="full-height flex-grow-1" placeholder="Ingrese el texto aquí..."></textarea> <!-- Agregamos flex-grow-1 para que el textarea ocupe el espacio restante -->

          <div class="d-block mt-3 m-auto centrarMovil"> <!-- Añadimos mt-3 para margen superior -->
            <div>
              <span style="color: gray;">Solo letras minúsculas y sin acentos</span>
            </div>
            <div>
              <button (click)="encrypt()" class="botonEncriptar btn btn-primary me-2">Encriptar</button> <!-- Utilizamos clases de Bootstrap para estilos de botón -->
              <button (click)="decrypt()" class="botonDesencriptar btn btn-secondary  mb-3 mb-md-0">Desencriptar</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="card-new d-flex justify-content-center" [ngClass]="{'align-items-center': palabraEncriptada === ''}"> <!-- Añadimos h-100 para ocupar 100% del alto -->
        <div class="not-found text-center d-flex flex-column " *ngIf="palabraEncriptada === ''">
          <div>
            <img src="../assets/person.png" alt="" class="img-fluid"> <!-- Utilizamos img-fluid para imágenes responsive -->
          </div>
          <div class="text mt-3">
            <p class="f-18">
              Ningún mensaje fue encontrado
            </p>
            <span style="color: gray;">
              Ingresa el texto que desees encriptar o desencriptar.
            </span>
          </div>
        </div>

        <div *ngIf="palabraEncriptada !== ''">
          <div style="color: #0a3871;padding: 15px;" class="mt-3">
            <span class="f-22" style="line-height: 1;">
              {{palabraEncriptada}}
            </span>
          </div>
          <div class="mb-3">
            <button (click)="copiarTexto()" class="botonDesencriptar btn btn-secondary mb-md-0">Copiar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
